[Unit]
Description=PiHome C++ service
After=network-online.target

[Service]
ExecStart=/home/pi/PiHome/C++/bin/main

[Install]
WantedBy=network-online.target
